#wrapper {
  max-width: 1500px;
}
header {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
header #headerGreen {
  height: 10px;
  background-color: #93b876;
}
#site_title {
  display: flex;
  background: linear-gradient(to top, #D4D4D4, #f8f8f8);
}
#form {
  margin-right: auto;
  margin-left: auto;
}
#search {
  border: 3px solid white;
  border-radius: 25px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 8px;
  width: 200px;
  background: #f8f8f8 url(images/search.gif) no-repeat 98% center;
  box-shadow: 0 2px 7px 2px #C0C0C0 inset;
}
#search:hover {
  cursor: pointer;
}
#search:focus {
  outline: none;
  box-shadow: none;
  width: 300px;
}
#logo_department {
  margin-top: 20px;
  display: flex;
}
#logo_department #name_department {
  margin-right: auto;
}
#logo_department #name_department h1 {
  margin: 0;
  color: #93b876;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40pt;
  text-shadow: 4px 2px #000;
}
#logo_department #name_department a {
  text-decoration: none;
  color: #000;
}
#logo_department #name_department #logo {
  margin-left: auto;
}
#logo_department #name_department #logo #img_logo {
  height: 172px;
  width: 180px;
}
#horLine {
  padding-top: 20px;
  border-bottom: 2px #93b876 dotted;
}
#content {
  flex: 1 0 auto;
  display: flex;
  position: relative;
  margin: 50px auto;
}
@media only screen and (max-width: 600px) {
  header {
    max-width: 550px;
  }
  #logo_department {
    display: block;
  }
  #logo_department #name_department h1 {
    font-size: 20pt;
    text-shadow: none;
    text-align: center;
  }
  #logo_department #name_department a {
    display: block;
    text-align: center;
  }
  #logo_department #img_logo {
    display: block;
    height: 140px;
    width: 150px;
    margin-left: auto;
  }
  #search {
    height: 50px;
  }
}
